# Exercícios Detalhados - Tópico 1: Configuração e Introdução

### Exercício 1
Enunciado:

Crie uma sessão Spark (SparkSession) em PySpark com o nome da aplicação “ExercicioPySpark1”.

Dica: Utilize SparkSession.builder.appName(...).getOrCreate().

### Exercício 2
Enunciado:

Crie um DataFrame a partir da lista abaixo contendo informações de pessoas (nome, idade e cidade):

dados = [("Maria", 30, "São Paulo"), ("João", 25, "Rio de Janeiro"), ("Ana", 28, "Curitiba")]

Defina o schema explicitamente com os tipos corretos.

### Exercício 3
Enunciado:

Carregue um arquivo CSV chamado clientes.csv que contém as colunas: id, nome, idade, cidade.
Implemente a leitura ignorando a primeira linha (header), considerando que os campos são separados por vírgula.

### Exercício 4
Enunciado:

Mostre o esquema (schema) do DataFrame criado no exercício anterior. Explique cada tipo de dado.

### Exercício 5
Enunciado:

Exiba as primeiras 5 linhas do DataFrame criado no exercício 2, sem usar a função show().

Dica: Utilize o método .take(5) e imprima as linhas.

### Exercício 6
Enunciado:

Conte o número total de registros do DataFrame criado no exercício 3.

### Exercício 7
Enunciado:

Salve o DataFrame do exercício 2 em um arquivo Parquet no diretório saida/parquet_ex1.

### Exercício 8
Enunciado:

Leia o arquivo Parquet criado no exercício anterior e mostre as 3 primeiras linhas.

# Exercícios Detalhados – Tópico 2: Manipulação Básica de DataFrames

### Exercício 9
Enunciado:

Dado o DataFrame criado no exercício 2 (com colunas nome, idade, cidade), selecione apenas a coluna nome e mostre os valores distintos.

### Exercício 10
Enunciado:

Filtre o DataFrame do exercício 2 para mostrar apenas as pessoas com idade maior que 27 anos.

### Exercício 11
Enunciado:

Ordene o DataFrame do exercício 2 pela coluna idade em ordem decrescente e exiba o resultado.

### Exercício 12
Enunciado:

Adicione uma nova coluna chamada idade_mais_5 que contenha o valor da coluna idade acrescido de 5.

### Exercício 13
Enunciado:

Renomeie a coluna cidade para municipio no DataFrame do exercício 2 e exiba o novo esquema.

### Exercício 14
Enunciado:

Remova a coluna municipio do DataFrame modificado no exercício 13.

### Exercício 15
Enunciado:

Considere o DataFrame abaixo, que contém valores nulos:

dados = [("Carlos", None, "Belo Horizonte"), ("Luiza", 32, None), ("Pedro", 40, "Fortaleza")]
schema = ["nome", "idade", "cidade"]

Crie um DataFrame com esses dados e remova as linhas que possuem algum valor nulo.

### Exercício 16
Enunciado:

No mesmo DataFrame do exercício anterior, substitua os valores nulos da coluna idade por 0 e da coluna cidade por "Desconhecida".

### Exercício 17
Enunciado:

Exiba um resumo estatístico (mean, stddev, min, max) da coluna idade do DataFrame criado no exercício 2.

### Exercício 18
Enunciado:

Conte quantos nomes distintos existem no DataFrame do exercício 2.

### Exercício 19
Enunciado:

Remova as linhas duplicadas (baseado em todas as colunas) do DataFrame do exercício 2 e exiba o resultado.

### Exercício 20
Enunciado:
Utilizando o DataFrame do exercício 2, crie uma nova coluna chamada faixa_idade que seja:

 - "Jovem" se a idade for menor que 30

 - "Adulto" caso contrário

Utilize funções condicionais (when/otherwise).

# Exercícios Detalhados – Tópico 3: Funções e Transformações

### Exercício 21
Enunciado:

No DataFrame do exercício 2, crie uma nova coluna chamada nome_maiusculo que contenha os nomes em letras maiúsculas, usando funções nativas do PySpark.

### Exercício 22
Enunciado:

Extraia os três primeiros caracteres da coluna cidade e crie uma nova coluna chamada sigla_cidade.

### Exercício 23
Enunciado:

Concatene as colunas nome e cidade separadas por vírgula em uma nova coluna chamada nome_cidade.

### Exercício 24
Enunciado:

Crie uma view temporária do DataFrame do exercício 2 chamada pessoas_view e escreva uma consulta SQL para selecionar todas as pessoas com idade maior que 26.

### Exercício 25
Enunciado:

Exploda a seguinte coluna de array no DataFrame abaixo, de modo que cada elemento vire uma linha separada:

dados = [("Lucas", ["maçã", "banana"]), ("Marina", ["laranja"])]
schema = ["nome", "frutas"]

### Exercício 26
Enunciado:

Converta a coluna string de datas no formato "yyyy-MM-dd" para timestamp e crie uma nova coluna data_timestamp. Use o DataFrame abaixo:

dados = [("Ana", "2023-04-01"), ("Bruno", "2024-01-15")]
schema = ["nome", "data"]

### Exercício 27
Enunciado:

Utilize a função SQL length para calcular o tamanho da string da coluna nome e crie uma coluna chamada tamanho_nome.

### Exercício 28
Enunciado:

Use a função substring para extrair os caracteres da posição 2 até a 4 da coluna nome e crie uma nova coluna chamada sub_nome.

### Exercício 29
Enunciado:

Mostre os nomes de pessoas cujo nome começa com a letra “M”, usando funções do PySpark para manipulação de strings.

### Exercício 30
Enunciado:

Utilize a função concat_ws para juntar as colunas nome e cidade separadas por hífen, em uma nova coluna chamada nome_cidade_hifen.

# Exercícios Detalhados – Tópico 4: Joins e Agregações